.container {
    width: 327px;
    height: 97%;
    display: inline-block;
    margin-right: 15px;
    border-radius: 0.9rem;
    background-color: #EEF2F5;

    .heading {
        padding: 15px 15px;
        font-size: 1rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
        img:hover {
            transform: scale(1.1,1.1);
        }

        .icons {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    .mainSection{
        padding: 14px;
    }
}