.container {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 1rem;
    background-color: white;

    .heading {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .priority {
            font-size: 0.55rem;
            text-transform: uppercase;
            color: #707070;
            display: flex;
            align-items: center;
            gap: 5px;

            span {
                margin-top:1px;
            }

            .color {
                width: 9px;
                height: 9px;
                background-color: black;
                border-radius: 50%;
            }
        }

        .more {
            width: 15px;
            height: 20px;
            cursor: pointer;
        }
        .more:hover {
            transform: scale(1.1);
        }
    }

    .title {
        font-weight: 500;
        margin-top: 5px;
        font-size: 1.05rem;
    }
}