.container {
  max-width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 10px 15px 15px 15px;
  border-radius: 1rem;
  background-color: white;
  flex-direction: column;
  display: inline-block;
  overflow: visible;

  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .priority {
      font-size: 0.55rem;
      text-transform: uppercase;
      color: #707070;
      display: flex;
      align-items: center;
      gap: 5px;

      span {
        margin-top: 1px;
      }

      .color {
        width: 9px;
        height: 9px;
        background-color: black;
        border-radius: 50%;
      }

      .assignIcon {
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.5rem;
        border-radius: 50%;
        background-color: #feebeb;
        color: black;
      }
    }

    .more {
      position: relative;

      img {
        width: 15px;
        height: 20px;
        cursor: pointer;
      }

      img:hover {
        transform: scale(1.1);
      }

      .dropDown {
        list-style-type: none;
        font-size: 0.7rem;
        background-color: white;
        font-family: inter;
        position: absolute;
        top: 14px;
        right: -2px;
        width: 70px;
        padding: 8px;
        border-radius: 7px;
        box-shadow: 0px 0px 13px -2px rgba(0, 0, 0, 0.15);
        display: flex;
        flex-direction: column;
        gap: 5px;

        li {
          cursor: pointer;
        }

        li:nth-child(3) {
          color: #cf3636;
        }

        li:hover {
          transform: scale(1.015);
        }
      }
    }
  }

  .title {
    font-weight: 500;
    margin-top: 5px;
    font-size: 1.05rem;
    display: inline-block;
    line-break: word;
    white-space: wrap;
    overflow: hidden;
    width: 100%;
  }

  .checklist {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 0.85rem;
    align-items: center;
    img {
      cursor: pointer;
      width: 22px;
    }
  }

  .listItem {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .item {
      display: flex;
      align-items: center;
      font-size: 0.85rem;
      gap: 5px;
      padding: 9px 12px;
      border-radius: 10px;
      border: 1.2px solid #e2e2e2;
      white-space: wrap;

      .customCheckbox {
        position: relative;
        input {
          appearance: none;
          -webkit-appearance: none;
          height: 1.1rem;
          width: 1.1rem;
          background-color: #fff;
          border-radius: 6px;
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          outline: none;
          border: 1.3px solid #e2e2e2;
        }
      }
    }
  }

  .dateBacklogProgressDone {
    margin-top: 10px;
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #767575;

    .date,
    .backlog,
    .progress,
    .done {
      background-color: #eeecec;
      border-radius: 8px;
      height: 22px;
      padding: 0px 8px;
      display: flex;
      align-items: center;
      cursor: pointer;
    }

    .date {
      background-color: #dbdbdb;
      color: #5a5a5a;
    }

    .backlogProgressDone {
      display: flex;
      gap: 5px;
      text-transform: uppercase;
      align-items: center;
    }
  }
}
